<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/applications/add" method="POST">
        用户名:<input type="text" name="username">
        <br>
        <br>
        密 码:<input type="text" name="password">
        <br>
        <br>
        <input type="submit" value="提交">
    </form>
  </body>
</html>
